
body {
    font-family: Myriad Pro;
    max-width: 1536px;
    overflow-x: hidden;
}
nav {
    position: relative;
    max-width: 1536px;
    width:100%;
}
.navbar {
    background-color: black;
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0;
    padding-bottom: 0;
}

.navbar > .container {
    max-width: 50%;
    justify-content: start;
}

.navbar > .container-fluid {
    justify-content: start;
}
.navbar-brand {
    width: 250px;
    height: 90px;
    margin-right: 30px;
    padding: 0;
}

.navbar-brand img {
    width: 100%;
    height: 100%;
}

.navbar-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden; 
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
}
.navbar-nav .nav-item {
    margin-left: 10px;
    margin-right: 20px;  
}

.navbar-nav .nav-item:last-child {
    margin-right: 0px;
}

.navbar-nav .nav-item a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
/* .nav-item a:hover {
    color: black;
} */
  
.navbar-dark .navbar-nav .nav-link.active {
    color: #8ACFB3;
}

.navbar-nav .nav-item .btn {
  background-color: black; /* Green */
  border: 3px solid #8ACFB3;
  border-radius: 30px;
  color: white;
  text-align: center;
  text-decoration: none;
}

.navbar-nav .nav-item .btn-success {
  background-color: #8ACFB3; /* Green */
  border: 3px solid #8ACFB3;
  border-radius: 30px;
  color: white;
  text-align: center;
  text-decoration: none;
}

.navbar-spacer {
    position: relative;
    width: 100%;
    height: 90px;
}


body > .container {
    position: relative;
    max-width: 1520px;
    width: 100%;
    
    
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 10px;
    padding: 0px;

}

#carouselExampleCaptions {
    position: relative;
    width: 100%;
}

.carousel-inner {
    width: 100%;
}

.carousel-inner > .carousal-item {
    width: 100%;
}

.carousel-item > img {
    width:100%;
    max-height:500px;
}

.services {
    width:100%;
    text-align: center;
    margin-top: 20px;
    margin-right: 5px;
    margin-left: 5px;
}

.services > p {
    width: 100%;
    
    height: 30px;
    text-align:center;
    color: grey;
    font-size: 30px;
    font-weight: bolder;
    margin-bottom: 30px;
}

.p-2 {
    padding: 0px;
    margin-bottom: 0px;
}

.our-team {
    padding: 20px 0 40px;
    margin-bottom: 25px;
    background-color: white;
    box-shadow: 2px 2px 5px grey;
    text-align: center;
    overflow: hidden;
    position: relative;
    height: 350px;
  }
  
  .our-team .picture {
    display: inline-block;
    height: 130px;
    width: 130px;
    margin-bottom: 25px;
    z-index: 1;
    position: relative;
  }
  
  /* .our-team .picture::before {
    content: "";
    width: 100%;
    height: 0;
    border-radius: 50%;
    background-color: #1369ce;
    position: absolute;
    bottom: 135%;
    right: 0;
    left: 0;
    opacity: 0.9;
    transform: scale(3);
    transition: all 0.3s linear 0s;
  }
  
  .our-team:hover .picture::before {
    height: 100%;
  }
  
  .our-team .picture::after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #1369ce;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  } */
  
  .our-team .picture img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    transform: scale(1);
    transition: all 0.9s ease 0s;
  }
  
  /* .our-team:hover .picture img {
    box-shadow: 0 0 0 14px #f7f5ec;
    transform: scale(0.7);
  } */
  
  .our-team .title {
    display: block;
    
    
    /* text-transform: capitalize; */
  }
  
  /* .our-team .social {
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: #1369ce;
    position: absolute;
    bottom: -100px;
    left: 0;
    transition: all 0.5s ease 0s;
  } */
/*   
  .our-team:hover .social {
    bottom: 0;
  }
  
  .our-team .social li {
    display: inline-block;
  }
  
  .our-team .social li a {
    display: block;
    padding: 10px;
    font-size: 17px;
    color: white;
    transition: all 0.3s ease 0s;
    text-decoration: none;
  }
  
  .our-team .social li a:hover {
    color: #1369ce;
    background-color: #f7f5ec;
  } */
  

  .btn-check:checked + .btn-success {
      background-color: #8ACFB3;
      border: none;
      box-shadow: 2px 2px 2px grey;
  }

  
#green-square {
    position: absolute;
    top: 30px;
    left: 30px;
    width: 50px;
    height: 50px;
    z-index: -1;
    background-color: #8ACFB3;
    -ms-transform: rotate(45deg); /* IE 9 */
    transform: rotate(45deg);
}

table {
  width: 600px;
  display: block;
  height: 300px;
  overflow-y: auto;
  overflow-x: auto;
  white-space: nowrap;
 
}

table th {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

table {
  border-collapse: collapse;
}

thead,tbody {
  display: table;
  width: 100%;
}

th {
  background-color: #8ACFB3;
  color: #fff;
  height: 10px;
  font-weight: normal;
}

th,
td {
  width: 500px;
  text-align: center;
  padding: 1em .5em;
}

table tr {
  background-color: black;
  color: gray;
}

th {
  border-left: 2px solid white;
  border-right: 2px solid white;
}

th:first-child {
  border-left: none;
}

th:last-child {
  border-right: none;
}

td {
  border-left: 2px solid lightgray;
  border-right: 2px solid lightgray;
  
}

td:first-child {
  border-left: none;
}

td:last-child {
  border-right: none;
}

table tr:nth-child(odd) {
  background-color: #f0f1f2;
}

table tr:nth-child(even) {
  background-color: #f4f8f9;
}